h1{
  text-align:center;
  background-color:#ffff80;
  border:5px outset #ffff00;
  padding:10px;
  font-family:tempus sans itc;
  font-weight:bold;
}
body{
  margin-left:25px;
  font-family:helvetica;
}
h2,h3{
  color:#b3b300;
  margin-bottom:5px;
  font-family:monaco;
}
h3{
  font-style:italic;
}
p{
  margin-top:0px;
  margin-bottom:5px;
}
ul,ol,li{
  margin-top:0px;
}
button{
  background-color:#ffff80;
  border-radius:3px;
  padding:5px;
}
h4{
  margin:2px;
}
#imp{
    color:green;
}
